<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028485661924-ra9dqspi1oljjqdfkrido7m1ptld8pkm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028485661924-ra9dqspi1oljjqdfkrido7m1ptld8pkm</string>
	<key>API_KEY</key>
	<string>AIzaSyCKPkoBAlLshMS6OasufZedWdZKEFfOlLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1028485661924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KaifanWei.Mysterious</string>
	<key>PROJECT_ID</key>
	<string>mysterious-43bba</string>
	<key>STORAGE_BUCKET</key>
	<string>mysterious-43bba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028485661924:ios:054f7b580574047a</string>
	<key>DATABASE_URL</key>
	<string>https://mysterious-43bba.firebaseio.com</string>
</dict>
</plist>